absl-py==1.4.0
aiofiles==22.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
albumentations==1.3.0
altair==4.2.2
anyconfig==0.13.0
anyio==3.6.2
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
asyncer==0.0.2
attrdict==2.0.1
attrs==22.2.0
autopep8==2.0.2
Babel==2.11.0
backcall==0.2.0
bce-python-sdk==0.8.83
bcrypt==4.0.1
beautifulsoup4==4.12.0
bleach==6.0.0
blinker==1.6
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cmake==3.26.1
coloredlogs==15.0.1
comm==0.1.2
contourpy==1.0.7
cssselect==1.2.0
cssutils==2.6.0
cycler==0.11.0
Cython==0.29.34
dataclasses-json==0.5.7
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
diffimg==0.3.0
docscan==1.0.5
editdistance==0.6.2
einops==0.2.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
extra-streamlit-components==0.1.56
fastapi==0.95.0
fastjsonschema==2.16.2
ffmpy==0.3.0
filelock==3.10.7
filetype==1.2.0
fire==0.5.0
Flask==2.2.3
flask-babel==3.0.1
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.3.0
future==0.18.3
gast==0.4.0
gdown==4.4.0
gevent==22.10.2
gevent-websocket==0.10.1
geventhttpclient==2.0.2
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==3.24.1
gradio_client==0.0.7
greenlet==2.0.2
grpcio==1.53.0
h11==0.14.0
h5py==3.8.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.13.3
humanfriendly==10.0
icrawler==0.6.6
idna==3.4
ImageHash==4.3.1
imageio==2.27.0
imgaug==0.4.0
importlib-metadata==6.1.0
imutils==0.5.4
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.1
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.7.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
keras==2.12.0
kiwisolver==1.4.4
langchain==0.0.133
lanms-neo==1.0.2
lazy_loader==0.2
libclang==16.0.0
linkify-it-py==2.0.0
lit==16.0.0
llvmlite==0.39.1
lmdb==1.4.0
lxml==4.9.2
magickwand==0.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.0.4
mpmath==1.3.0
multidict==6.0.4
munch==2.5.0
mypy-extensions==1.0.0
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netron==6.5.9
networkx==3.0
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
onnx==1.13.0
onnxruntime==1.14.1
openai==0.27.4
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opencv-python-headless==4.7.0.68
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.9
packaging==23.0
paddle-bfloat==0.1.7
paddle2onnx==1.0.6
paddleocr==2.6.1.3
paddlepaddle==2.4.2
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pdf2docx==0.5.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.0.0
playsound==1.3.0
ply==3.11
Polygon3==3.0.9.1
pooch==1.7.0
prefetch-generator==1.0.1
premailer==3.10.0
prometheus-client==0.16.0
prompt-toolkit==3.0.37
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post4
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pycuda==2022.2.2
pydantic==1.10.7
pydeck==0.8.0
pyDeprecate==0.3.2
pydub==0.25.1
Pygments==2.14.0
PyJWT==2.6.0
PyMatting==1.1.8
Pympler==1.0.1
PyMuPDF==1.20.2
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.6
python-rapidjson==1.10
pytools==2022.1.14
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzk==0.9
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
qudida==0.0.4
rapidfuzz==2.15.0
rarfile==4.0
regex==2023.3.23
rembg==2.0.32
requests==2.27.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.3
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
semantic-version==2.10.0
semver==3.0.0
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==1.4.47
stack-data==0.6.2
starlette==0.26.1
straug==0.1.2
streamlit==1.20.0
streamlit-authenticator==0.2.1
sympy==1.11.1
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorrt==8.5.3.1
termcolor==2.2.0
terminado==0.17.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
thriftpy2==0.4.16
tifffile==2023.3.21
timm==0.6.13
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torchaudio==0.13.1
torchmetrics==0.11.4
torchvision==0.15.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
tritonclient==2.32.0
typing==3.7.4.3
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
unicodedata2==15.0.0
Unidecode==1.3.6
uri-template==1.2.0
urllib3==1.26.14
uvicorn==0.21.1
validators==0.20.0
vietocr==0.3.11
visualdl==2.5.1
waitress==2.1.2
Wand==0.6.11
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0
Werkzeug==2.2.3
widgetsnbextension==4.0.5
wrapt==1.14.1
x2paddle==1.4.1
y-py==0.5.9
yarl==1.8.2
ypy-websocket==0.8.2
zipp==3.15.0
zk==0.8.5
zope.event==4.6
zope.interface==6.0
